*{
    margin: 0;
    padding: 0;
    
    font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body{
    position: relative;
    min-height: 100vh;
    background-color: #F3F5FC;
    font-family: Inter, sans-serif;
}
header{
    width: 100%;
}
header img{
    margin: 10px;
}
main{
    margin: 15px;
}
.text-container{
    width: 100%;
    min-height: 350px;
    display: inline-block;
}
.text-container textarea{
    border: none;
    background-color: transparent;
    font-size: 32px;
    font-weight: 400;
    color: #0A3871;
    height: 340px;
    width: 100%;
    outline: none;
}
.text-container textarea::placeholder{
    color: #0A3871;
}
.text-container textarea:focus{
    color: #0A3871;
}
.conditions-container{
    display: flex;
}
.conditions-container p{
    color: #495057;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    padding-left: 5px;
}
.buttons-container{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}
.buttons-container button{
    align-self: center;
    width: 390px;
    border: 1px solid #0A3871;
    border-radius: 25px;
    height: 65px;
}
.encrypt{
    background-color: #0A3871;
    color: white;
}
.decrypt{
    color: #0A3871;
    background-color: transparent;
}
.results-container{
    margin: 0 10px;
    margin-top: 50px;
    background-color:white;
    border-radius: 30px;
    min-height: 180px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.result-text{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.result-text img{
    display:none;
}
.result-text h1{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #343A40;
    margin-bottom: 10px;
}
.result-text p{
    margin: 0 55px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #495057;
}
.text-result{
    margin: 35px 20px;
    width: 100%;
    text-align: center;
}
.text-result p{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-align: justify;
    margin: 0 20px;
    text-align: center;
}
.text-result button{
    margin-top: 30px;
    align-self: center;
    width: 90%;
    border: 1px solid #0A3871;
    border-radius: 25px;
    height: 65px;
    color: #0A3871;
    background-color: transparent;
}
footer{
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: #0A3871;
    width: 100%;
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* For tablets*/
@media only screen and (min-width: 768px){
    body{
        padding: 30px 25px;
    }
    .text-container{
        width: 100%;
        min-height: 690px;
        display: inline-block;
    }
    .result-text{
        display: inline-block;
    }
    .buttons-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
/* For desktop */
@media only screen and (min-width: 992px){
    main{
        display: flex;
    }
    .user-container{
        margin-left: 10%;
        width: 60%;
    }
    .results-container{
        margin: 0;
        width: 30%;
        margin-left: 5%;
        height: 810px;
        justify-content: center;
    }
    .results-container img{
        display: inline-block;
    }
    .text-result{
        margin: 0;
    }
}